<%- include("templates/header.ejs") %>

<%- include("templates/navbar.ejs") %>

<div class="container d-flex align-items-center justify-content-center mt-auto flex-column" style="height: 70vh; width: 80%;">
    <div class="text-center">
        <div class="row">
            <div class="col">
                <p>The Truly Anonymous Blog</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <h2>Tell Everyone What's REALLY Going On</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <p>Privately</p>
            </div>
        </div>
        <div class="row">
            <form action="/register">
                <div class="col d-grid col-4 mx-auto">
                    <button type="submit" class="btn btn-primary" style="background: hsl(210, 11%, 45%);">Enter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("templates/footer.ejs") %>


