<%- include("templates/header.ejs") %>

<%- include("templates/navbar.ejs") %>


<div class="container">
    <h1 class="h1 my-5">Create new post</h1>

    <form id="post-form" action="/save-post" method="POST">
        <div class="mb-3">
            <label for="post-title" class="form-label">Enter the title</label>
            <input type="text" class="form-control" name="title" id="post-title"></input>
        </div>
        <div class="mb-3">
            <label for="froala" class="form-label">Content</label>
            <div id="froala"></div>
            <input type="hidden" name="content" id="froala-content">
        </div>
        <button type="submit" class="btn btn-secondary">Submit Post</button>
    </form>
</div>


<link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
<script> 
    var editor = new FroalaEditor('#froala');

    document.getElementById('post-form').addEventListener('submit', function(event) {


        // Retrieve the content from Froala Editor
        const editorContent = editor.html.get();
        const tempElement = document.createElement('div');

        tempElement.innerHTML = editorContent;

        console.log(tempElement);
        const removeStyles = (element) => {
            element.removeAttribute('style');
            for(let child of element.children){
                removeStyles(child);
            }
        }
        removeStyles(tempElement);

        const cleanedHtml = tempElement.innerHTML;

        // Send POST request with content

        document.getElementById('froala-content').value = cleanedHtml;


    });

</script>
<%- include("templates/footer.ejs") %>